@{
    ViewBag.Title = "ForgotPassword1";
}
<h2>Forgot Password </h2>
<div style="text-align:right;font-size:large;">
    <span class="glyphicon glyphicon-log-in"></span> @Html.ActionLink("Login Page", "Login", "ADMIN") |
    <span class="glyphicon glyphicon-home"></span> @Html.ActionLink("Home Page", "Index","HOME")
</div>

<div class="text-danger" style="text-align:center;">@ViewBag.Message</div>
@using (Html.BeginForm("ForgotPassword1", "ADMIN", FormMethod.Get))
{
    <text>Username :</text> @Html.TextBox("UserName")
    <br />
    <input type="submit" value="Search" class="btn btn-danger" />
}
